body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
  }

  header {
    background-color: #f2a900;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  h1 {
    margin-top: 0;
    text-align: center;
  }

  section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  h2 {
    margin-top: 20px;
    text-align: center;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 10px;
  }

  a {
    color: #f2a900;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  nav {
    background-color: #f2a910;
    height: 50px;    
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
  }
  nav ul li {
    float: left;
  }
  nav ul li a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 16px;
    line-height: 50px;
    padding: 0 15px;
  }
  nav ul li a:hover {
    background-color:gray;
  }

  footer {
    float: left;
    margin-right: 10px;
    display:flex;  
    align-items: right;  
    margin: 20px;  
  } 

  .image-recipe {
    width: 300px;
    height: 200px;
  }
  
  .mosaic {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
  }
  
  .mosaic-item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .mosaic-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .mosaic-image {
    width: 400px;
    height: 300px;
  }
  


#about-text {
  font-family: Arial, sans-serif;
  text-align: justify;
  margin-left: 50px;
  margin-right: 80px;
}

#gh-img {
  max-width: 10%;
  height: auto;
  margin-right: 20px;
}
